[Unit]
Description=clientportal
After=network.target

[Service]
User=www-data
Type=simple
WorkingDirectory=/opt/clientportal
ExecStart=/opt/clientportal/Gateway
Restart=on-failure
RestartSec=5
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5000
Environment=DOTNET_GCServer=1

# without this, somehow logs are not accessible from journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
